<!-- <div class="d-flex flex-column gap-4 align-items-start p-4">    

    <button type="button" class="btn btn-primary">Hello World</button>
    
    <div class="bg-dark rounded p-5 text-light">
        <div class="d-flex align-items-start gap-3">
            <i class="fas fa-heart fs-1"></i>
            <i class="far fa-heart fs-1"></i>
            <i class="fal fa-heart fs-1"></i>
            <i class="fad fa-heart fs-1"></i>
            <i class="fat fa-heart fs-1"></i>
        </div>
    </div>

</div> -->

<!-- Demonstração dos Guards -->
<!-- <app-guard-demo></app-guard-demo> -->

<router-outlet />
