<div id="users-index-page" class="page">
    <div class="d-flex align-items-end mb-3">
        <div class="d-flex flex-column">
            <h3 class="fw-bold mb-1">Usuários</h3>
            <p class="text-muted m-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae,
                et!
            </p>
        </div>

        <div class="d-flex gap-3 ms-auto">
            <a [routerLink]="['/users/create']" class="btn btn-primary"
                >Novo Usuário</a
            >
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <button type="button" class="btn btn-primary" (click)="isLoading.set(!isLoading())">Toggle Loading</button>
            <pre>Is Loading? {{ isLoading() }}</pre>

            <pre>users.index filters {{ filters() | json }}</pre>
            <pre>users.index sort {{ sort() | json }}</pre>
            
            <app-users-filters
                [value]="filters()"
                (onFiltersChanged)="onFiltersChanged($event)"
            ></app-users-filters>

            <app-users-table
                [users]="users()"
                [isLoading]="isLoading()"
                [sort]="sort()"
                (onSortChanged)="onSortChanged($event)"
                (onDeleteConfirmed)="onDeleteConfirmed($event)"
            ></app-users-table>

        </div>
    </div>
</div>
