<app-per-page
    [value]="users()?.per_page"
    (onChange)="perPageChange.emit($event)"
/>

<div class="table-responsive">
    <table
        class="table table-bordered"
        appTableSortable
        (sortChange)="sortChange.emit($event)"
    >
        <thead>
            <tr>
                <th data-sort="id">ID</th>
                <th data-sort="name">Nome</th>
                <th data-sort="email">E-mail</th>
                <th data-sort="created_at">Dt. criação</th>
                <th data-sort="updated_at">Dt. atualização</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (users() !== null) {
                @for (user of usersData(); track user.id) {
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.created_at | date }}</td>
                        <td>{{ user.updated_at | date }}</td>
                        <td>
                            <app-table-buttons>
                                <app-table-button-edit
                                    [url]="['users', user.id, 'edit']"
                                ></app-table-button-edit>
                                <app-table-button-delete
                                    (onDelete)="deleteConfirmed.emit(user)"
                                ></app-table-button-delete>
                            </app-table-buttons>
                        </td>
                    </tr>
                } @empty {
                    <tr>
                        <td colspan="6">
                            <app-page-message
                                message="Nenhum usuário encontrado"
                                details="Verifique os filtros aplicados ou tente novamente mais tarde."
                            >
                            </app-page-message>
                        </td>
                    </tr>
                }
            } @else if (isLoading()) {
                <tr>
                    <td colspan="6">
                        <app-page-message
                            icon="⏳"
                            message="Carregando usuários..."
                            details="Por favor, aguarde enquanto os dados são carregados."
                        >
                        </app-page-message>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (users() && users()!.total > 0) {
    <app-pagination
        [pagination]="users()"
        (onChange)="pageChange.emit($event)"
    />
}
