<div class="table-responsive">
    <table
        class="table table-bordered"
        appTableSortable
        (sortChange)="onSortChanged($event)"
    >
        <thead>
            <tr>
                <th data-sort="id">ID</th>
                <th data-sort="name">Nome</th>
                <th data-sort="email">E-mail</th>
                <th data-sort="created_at">Dt. criação</th>
                <th data-sort="updated_at">Dt. atualização</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @for (user of usersList(); track user.id) {
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at | date }}</td>
                    <td>{{ user.updated_at | date }}</td>
                    <td>
                        <app-table-buttons>
                            <app-table-button-edit
                                [url]="['users', user.id, 'edit']"
                            ></app-table-button-edit>
                            <app-table-button-delete
                                (onDelete)="onDeletedConfirmed(user)"
                            ></app-table-button-delete>
                        </app-table-buttons>
                    </td>
                </tr>
            } @empty {
                <!-- @if (users().isLoading()) {
                    <tr>
                        <td colspan="6">
                            <app-page-message
                                icon="⏳"
                                message="Carregando usuários..."
                                details="Por favor, aguarde enquanto os dados são carregados."
                            >
                            </app-page-message>
                        </td>
                    </tr>
                } @else {
                    <tr>
                        <td colspan="6">
                            <app-page-message
                                message="Nenhum usuário encontrado"
                                details="Verifique os filtros aplicados ou tente novamente mais tarde."
                            >
                            </app-page-message>
                        </td>
                    </tr>
                } -->
            }
        </tbody>
    </table>
</div>

<!-- @if (total() > 0) {
    <app-pagination
        [collection]="users().value()"
        [pagination]="pagination"
    ></app-pagination>
} -->